<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script src="__TCUI__/js/jquery-2.1.1.min.js"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script src="__TCUI__/js/bootstrap.min.js"></script>


<!--Fast Click [ OPTIONAL ]-->
<script src="__TCUI__/plugins/fast-click/fastclick.min.js"></script>


<!--Nifty Admin [ RECOMMENDED ]-->
<script src="__TCUI__/js/nifty.js"></script>


<!--Switchery [ OPTIONAL ]-->
<script src="__TCUI__/plugins/switchery/switchery.min.js"></script>


<!--Bootstrap Select [ OPTIONAL ]-->
<script src="__TCUI__/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<!--Bootbox Modals [ OPTIONAL ]-->
<script src="__TCUI__/plugins/bootbox/bootbox.js"></script>

<!--FooTable [ OPTIONAL ]-->
<script src="__TCUI__/plugins/fooTable/dist/footable.all.min.js"></script>

<!--Demo script [ DEMONSTRATION ]-->
<script src="__TCUI__/js/demo/nifty-demo.js"></script>

<!--tcDialog script-->
<load href="__JS__/tcSlide.js"/>