<!--===================================================-->
<footer id="footer">

	<!-- Visible when footer positions are fixed -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<div class="show-fixed pull-right">
		<block name="footer_right">
			
		</block>
	</div>



	<!-- Visible when footer positions are static -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<div class="hide-fixed pull-right pad-rgt">TcSystem v3.5</div>



	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Remove the class name "show-fixed" and "hide-fixed" to make the content always appears. -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<block name="footer_left">
	<p class="pad-lft">&#0169; 2015 天成科技</p>
	</block>



</footer>
<!--===================================================-->
<!-- END FOOTER -->


<!-- SCROLL TOP BUTTON -->
<!--===================================================-->
<button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
<!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


<!--JAVASCRIPT-->
<!--=================================================-->

<!--jQuery [ REQUIRED ]-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<!-- <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script> -->


<!--Fast Click [ OPTIONAL ]-->
<!-- <script src="__TCUI__/plugins/fast-click/fastclick.min.js"></script> -->


<!--Nifty Admin [ RECOMMENDED ]-->
<!-- <script src="__TCUI__/js/nifty.js"></script> -->


<!--Switchery [ OPTIONAL ]-->
<!-- <script src="__TCUI__/plugins/switchery/switchery.min.js"></script> -->


<!--Bootstrap Select [ OPTIONAL ]-->
<!-- <script src="__TCUI__/plugins/bootstrap-select/bootstrap-select.min.js"></script> -->

<!--Bootbox Modals [ OPTIONAL ]-->
<!-- <script src="__TCUI__/plugins/bootbox/bootbox.js"></script> -->

<!--FooTable [ OPTIONAL ]-->
<!-- <script src="__TCUI__/plugins/fooTable/dist/footable.all.min.js"></script> -->

<!--Demo script [ DEMONSTRATION ]-->
<!-- <script src="__TCUI__/js/demo/nifty-demo.js"></script> -->

<!--tcDialog script-->
<script type="text/javascript" src="__JS__/tcSlide.js"></script>

