<!DOCTYPE html style="height:100%;width:100%;">
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uc.cms.com</title>
  <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="__STATIC__/panelSlider/css/panelSlider.css">
  <!--jQuery [ REQUIRED ]-->
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.9.3/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <script src="__STATIC__/panelSlider/js/panelSlider.js"></script>

</head>
<body style="height:100%;width:100%;">
  <div class="container-fluid" style="height:100%;width:100%;">
    <div class="row" style="height: 45px;width: 100%;position: fixed;background: #eee;">
      <div class="col-sm-12 col-md-12 col-lg-12"></div>
    </div>
    <div class="row" style="height: 100%; width: 100%; position: absolute; padding-top: 45px;">

      <div class="col-sm-3 col-md-2 col-lg-2" style="background: #ddd;overflow-y: auto; overflow-x: hidden;">
        <div style="height: 300px;">
            <ul>
                <li>dd</li>
                <li>dd</li>
                <li>
                    <ul>
                        <li>sdf</li>
                        <li>sdf</li>
                        <li>sdf</li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
      <div class="col-sm-9 col-md-10 col-lg-10" style="padding-right: 0px; overflow-y: scroll; overflow-x: hidden;">
        <div></div>
        <div style="height: 900px;"></div>
      </div>
    </div>
  </div>
</body>
</html>