<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uc.cms.com</title>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="__STATIC__/admin/css/common.css">

    <link rel="stylesheet" href="__STATIC__/plugin/panelSlider/css/panelSlider.css">
    <!--jQuery [ REQUIRED ]-->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdn.bootcss.com/popper.js/1.9.3/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <script src="__STATIC__/plugin/panelSlider/js/panelSlider.js"></script>

</head>
<body>
    <div class="top">

    </div>
    <div class="left">
        <div class="web-title"></div>
        <div class="web-nav">
            
        </div>
    </div>
    <div class="right">
        <div class="container-fluid">

        </div>
    </div>
    <div class="bottom"></div>
</body>
</html>