{extend name='public/base' /}
{block name='title'}首页{/block}

{block name="body"}
<a href="javascript:df();">df</a>
{/block}

{block name="javascript"}
<script>
    function df(){
        panelSlider({
            title:'122',
            url:'{:url("/test")}',
        }).open();

        panelSlider({
            title:'122',
            width:20,
            level:2,
            tips:'sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>sdf</br>',
            url:'{:url("/test")}',
        }).confirm();
    }
    
</script>
{/block}