.slide-level-1 {
  float: right;
  background: #fff;
  z-index: 1;
  width:335px;
  height: 100%;
  padding: 50px 0;
  z-index: 0;
  position: fixed;
  top:0;
  border-left: 1px solid #ddd;
}

/* slide */
/*======================================*/
.slide-dialog {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  margin-top: -1%;
  min-width: 90%;
}
.slide-dialog.animated {
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}
.slide-header {
  padding: 15px;
  position: relative;
  border: 0;
}
.slide-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.slide-footer {
  background-color: rgba(0, 0, 0, 0.025);
  color: #5c7174;
  border-color: rgba(0, 0, 0, 0.04);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.slide-title {
  font-size: 18px;
  font-weight: 300;
}
.slide-body {
  min-height: 90px;
}
.slide-body .close,
.slide-header .close {
  top: 15px;
  right: 10px;
  left: auto;
  position: absolute;
  background-color: transparent !important;
}
.slide-content {
  box-shadow: none;
  border-radius: 0;
}
.slide-footer {
  padding: 10px 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.slide-backdrop.in {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .slide-dialog {
    min-width: 0;
  }
}
.btn.typedown{
  background-color: #e9e9e9;
  padding-left: 0px;
  padding-right: 0px;
  width: 24px;
  position: absolute !important;
  z-index: 2;
  left: -24px;
  margin-top:1px;

  border:none;
}

.btn.typedown:hover{
  background-color: #d9d9d9;
}

.typedown.dropdown-menu{
  left:-170px;
  margin-top:-1px;
  width:170px;
}

.typedown.dropdown-menu li a.active{
  background-color:#777;
  color:#fff;
  padding-left:10px;
}

.typedown.dropdown-menu a{
  padding-left:22px;
}

.typedown.dropdown-menu a:hover{
  background-color: #aaa;
}

.typedown.dropdown-menu li a.active .fa{
  width:12px;
}

#tc_search_submit{
  border-color:#333;
  background-color: #555;
  margin-left: 0px;
}

#tc_search_submit:before{
  background-color:rgba(0, 0, 0, 0.2);
}

#tc_search_submit:hover{
  border-color:#444;
  background-color: #666;
}

#tc_search{
  padding-right: 24px;
}

.detailsList { width: 100%; float: left; clear: both; padding: 0; margin: 0; }
.detailsList .details { float: left; width: 65%; }
.detailsList .price { float: left; width: 15%; text-align: center; font-size: 14px;  margin-top: 5px;}
.detailsList .cartServiceTime { float: left; width: 10%;  text-align: center; margin-top: 5px; font-size: 14px;  }
.detailsList .cartBehavior { float: left; width: 10%;  text-align: center; margin-top: 5px; font-size: 14px;  }
.detailsList .cartName { float: left; font-size: 14px; margin-right: 20px; line-height: 30px; }
.detailsList .tips { float: left; font-size: 12px; line-height: 30px; color: orangered; }
.detailsList .cartNode { float: left; font-size: 12px; clear: both; }
.detailsList img { float: left; }
.detailsList del { color: #bababa; }
.line { width: 100%; color: red; float: left; clear: both; height: 1px; margin: 5px 0 0 0; }